/node_modules
/public/hot
/public/image
/public/images
/public/thumb
/public/storage
/public/uploads
/public/product_images
/public/product_variation
/storage/*.key
/resources/js/img
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
