body {
font-size: .875rem;
font-family: "arial";
}
.feather {
width: 16px;
height: 16px;
vertical-align: text-bottom;
}
/*
* Sidebar
*/
#dsearch{
margin-left: -70px;
}
.sidebar {
position: fixed;
top: 0;
bottom: 0;
left: 0;
z-index: 100; /* Behind the navbar */
padding: 0;
box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar-sticky {
position: -webkit-sticky;
position: sticky;
top: 48px; /* Height of navbar */
height: calc(100vh - 48px);
padding-top: 1rem;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.bg-red{
background-color:#e84118;
color: #fff;
}
.sidebar .nav-link.active {
}
.sidebar .nav-link {
font-weight: 500;
color: #333;
}
.sidebar .nav-link .feather {
margin-right: 4px;
color: #999;
}
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
color: inherit;
}
.sidebar-heading {
font-size: .75rem;
text-transform: uppercase;
}
/*
* Navbar
*/
/*.navbar-brand {
padding-top: .75rem;
padding-bottom: .75rem;
font-size: 1rem;
background-color: rgba(0, 0, 0, .25);
box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}*/
.navbar .form-control {
border-width: 0;
border-radius: 0;
}
.form-control-dark {
color: #fff;
background-color: rgba(255, 255, 255, .1);
border-color: rgba(255, 255, 255, .1);
}
.form-control-dark:focus {
border-color: transparent;
box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
/*
* Utilities
*/
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.bg-red .nav-link{
color: #fff;
}
/*===============================================================*/
.dash-box {
position: relative;
background: rgb(255, 86, 65);
background: -moz-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
background: -webkit-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
background: linear-gradient(to bottom, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff5641', endColorstr='#fd3261', GradientType=0);
border-radius: 4px;
text-align: center;
margin: 60px 0 50px;
}
.dash-box-icon {
position: absolute;
transform: translateY(-50%) translateX(-50%);
left:50%;
}
.dash-box-action {
transform: translateY(-50%) translateX(-50%);
position: absolute;
left: 50%;
}
.dash-box-body {
padding: 50px 20px;
}
.dash-box-icon:after {
width: 60px;
height: 60px;
position: absolute;
background: rgba(247, 148, 137, 0.91);
content: '';
border-radius: 50%;
left: -10px;
top: -10px;
z-index: -1;
}
.dash-box-icon > i {
background: #ff5444;
border-radius: 50%;
line-height: 40px;
color: #FFF;
width: 40px;
height: 40px;
font-size:22px;
}
.dash-box-icon:before {
width: 75px;
height: 75px;
position: absolute;
background: rgba(253, 162, 153, 0.34);
content: '';
border-radius: 50%;
left: -17px;
top: -17px;
z-index: -2;
}
.dash-box-action > button {
border: none;
background: #FFF;
border-radius: 19px;
padding: 7px 16px;
text-transform: uppercase;
font-weight: 500;
font-size: 11px;
letter-spacing: .5px;
color: #003e85;
box-shadow: 0 3px 5px #d4d4d4;
}
.dash-box-body > .dash-box-count {
display: block;
font-size: 30px;
color: #FFF;
font-weight: 300;
}
.dash-box-body > .dash-box-title {
font-size: 25px;
color: rgba(255, 255, 255, 0.81);
}
.dash-box.dash-box-color-2 {
background: rgb(252, 190, 27);
background: -moz-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
background: -webkit-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
background: linear-gradient(to bottom, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcbe1b', endColorstr='#f85648', GradientType=0);
}
.dash-box-color-2 .dash-box-icon:after {
background: rgba(254, 224, 54, 0.81);
}
.dash-box-color-2 .dash-box-icon:before {
background: rgba(254, 224, 54, 0.64);
}
.dash-box-color-2 .dash-box-icon > i {
background: #fb9f28;
}
.dash-box.dash-box-color-3 {
background: rgb(183,71,247);
background: -moz-linear-gradient(top, rgba(183,71,247,1) 0%, rgba(108,83,220,1) 100%);
background: -webkit-linear-gradient(top, rgba(183,71,247,1) 0%,rgba(108,83,220,1) 100%);
background: linear-gradient(to bottom, rgba(183,71,247,1) 0%,rgba(108,83,220,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b747f7', endColorstr='#6c53dc',GradientType=0 );
}
.dash-box-color-3 .dash-box-icon:after {
background: rgba(180, 70, 245, 0.76);
}
.dash-box-color-3 .dash-box-icon:before {
background: rgba(226, 132, 255, 0.66);
}
.dash-box-color-3 .dash-box-icon > i {
background: #8150e4;
}
.icon{
margin-right: 5px;
}
.dropdown-menu{
left: -30px;
}
/*==============================*/
/* layout.css Style */
.upload-drop-zone {
height: 200px;
border-width: 2px;
margin-bottom: 20px;
}
/* skin.css Style*/
.upload-drop-zone {
color: #ccc;
border-style: dashed;
border-color: #ccc;
line-height: 200px;
text-align: center
}
.upload-drop-zone.drop {
color: #222;
border-color: #222;
}
.image-preview-input {
position: relative;
overflow: hidden;
margin: 0px;
color: #333;
background-color: #fff;
border-color: #ccc;
}
.image-preview-input input[type=file] {
position: absolute;
top: 0;
right: 0;
margin: 0;
padding: 0;
font-size: 20px;
cursor: pointer;
opacity: 0;
filter: alpha(opacity=0);
}
.image-preview-input-title {
margin-left:2px;
}
.size label{
padding-left: 10px;
padding-right: 10px;
}
.size h6{
line-height: 3;
}
.img-table{
width: 100px;
}
footer{
text-align: center;
}
.payment-form{
border: 1px solid #ccc;
border-top: 100px solid #f39c12;
padding: 50px;
margin-bottom: 50px;
display: none;
}
.payment-form h2{
position: absolute;
top: 0;
padding: 20px;
text-align: center;
color: #fff;
}
.label{
margin-top: 20px;
}
.withdraw{
cursor: pointer;
}
.code{
border: 1px dashed #ccc;
padding: 10px;
background-color: aliceblue;
}
.coupon-code{
  line-height: 2;
}
.order td{
  vertical-align: middle;
}
.status span{
  background-color:#27ae60;
  padding: 5px;
  color: #fff;
}