img {
	max-width: 100%;
	height: auto;
	display: inline-block
}
#carousel-custom .carousel-inner {
	position: relative;
	width: 100%;
	min-height: 300px;
}
#carousel-custom .carousel-control.right {
	right: 0;
	left: auto;
	background-image: none !important;
	background-repeat: repeat-x;
}
#carousel-custom .carousel-control.left {
	left: 0;
	right: auto;
	background-image: none !important;
	background-repeat: repeat-x;
}
#carousel-example-generic {
	margin: 20px auto;
	width: 100%;
}
#carousel-custom .carousel-indicators {
	margin: 0 0;
	overflow: auto;
	position: static;
	text-align: left;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
}
#carousel-custom .carousel-indicators li {
	background-color: transparent;
	-webkit-border-radius: 0;
	border-radius: 0;
	display: unset;
	height: auto;
	margin: 0 !important;
	width: auto;
}
#carousel-custom .carousel-indicators li img {
	display: block;
}
#carousel-custom .carousel-indicators li:hover img {
	opacity: 0.75;
}
#carousel-custom .carousel-outer {
	position: relative;
}
div#carousel-custom {
	margin: 0 0 50px;
}
/* Left Column */
.left_img img {
	display: none !important;
	transition: all 0.3s ease;
}
.left_img img.current {
	display: block !important
}
/* Product Color */
.product-color {
	margin-bottom: 30px;
}
.color-choose > div {
	display: inline-block;
}
.color-choose input[type="radio"] {
	display: none;
}
.color-choose input[type="radio"] + label span {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 50%;
}
.color-choose input[type="radio"] + label span {
	border: 2px solid #FFFFFF;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}
.color-choose input[type="radio"]#black + label span {
	background-color: #151515;
}
.color-choose input[type="radio"]#white + label span {
	background-color: #fff;
}
.color-choose input[type="radio"]#yellow + label span {
	background-color: #003CFF;
}
.color-choose input[type="radio"]:checked + label span {
	background-image: url(../img/check-icn.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.btn-cart {
	font-size: 18px;
	color: #fff;
	border-radius: 0;
	background: #f06902;
	padding: 17px 120px;
	display: inline-block;
	margin-bottom: 20px;
}